:root {
  --primary_text: #100F0F;
  --secondary_text: #5f5f5f;
}

body {
  color: var(--primary_text);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  width: 252px;
  height: 62px;
  padding: 10px;
  border-radius: 8px;
  border: 0.50px black solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.projectName {
  color: black;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.77px;
  word-wrap: break-word;
}

.todoItem {
  margin: 0;
  padding: 0;
}
.todoItem li {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  border-right: 8px solid #2AB514;
  background: #D9D9D9;
  list-style: none;
  padding: 8px;
  margin: 4px;
}
.todoTitle {
  font-weight: 700;
}
.todoDescription {
  color: var(--secondary_text);
}
.todoRight {
  color: var(--secondary_text);
}