:root {
  --primary_text: #100F0F;
  --secondary_text: #5f5f5f;
}

body {
  box-sizing: border-box;
  color: var(--primary_text);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  width: 252px;
  height: 62px;
  padding: 10px;
  border-radius: 8px;
  border: 0.50px black solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.projectName {
  color: black;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.77px;
  word-wrap: break-word;
}

.todoItem {
  margin: 0;
  padding: 0;
}
.todoItem li {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  border-right: 8px solid;
  background: #D9D9D9;
  list-style: none;
  padding: 8px;
  margin: 4px;
}
.todoItem li:hover, .todoItem li:focus, .todoItem li:active {
  background-color: #ababab;
  cursor: pointer;
}
.todoTitle {
  font-weight: 700;
}
.todoDescription {
  color: var(--secondary_text);
}
.todoRight {
  color: var(--secondary_text);
  min-width: max-content;
}
.High{
  border-color: red !important;
}
.Medium{
  border-color: orange !important;
}
.Low{
  border-color: green !important;
}


/* CUSTOM PAGE */

.projectButton {
  width: 100px;
  height: 30px;
  display: block;
  border: 1px solid #000;
}

.project.projectOverlay {
  background-color: yellow;
  z-index: 2;
  transition: 1s ease-in-out;
}

.project {
  position: absolute;
  width: 100px;
  height: 30px;
}

.project.projectDelete {
  background-color: red;
  z-index: 1;
}

.project.projectOverlay:hover {
  width: 70px;
  transition: 1s ease-in-out;
}

.project.projectOverlay:hover::after {
  content: "";
  background: url("./assets/bin.svg") no-repeat;
  width: 20px;
  height: 30px;
  right: -26px;
  position: absolute;
  background-position: 0px 5px;
  background-size: 20px 20px;
  bottom: -1px;
}