body {
  margin: 0;
  padding: 0;
}

.btn {
  width: 252px;
  height: 62px;
  padding: 10px;
  border-radius: 8px;
  border: 0.50px black solid;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  display: inline-flex;
}

.projectName {                        color: 'black';
  font-size: 32px;
  font-family: 'Inter'; fontWeight: '400';
  lineHeight: 41.77px; wordWrap: 'break-word'}